---
import type { GetStaticPaths } from 'astro';
import { getCollection } from 'astro:content';

import { getUniqueCategories } from '@/utils/blog';

import Layout from '@/layouts/Layout.astro';

export const getStaticPaths = (async () => {
  const posts = await getCollection('blog');
  const categories = getUniqueCategories(posts);

  return categories.map(({ slug, name }) => ({
    params: { slug },
    props: { name },
  }));
}) satisfies GetStaticPaths;

const { name } = Astro.props;
---

<Layout>
  <div class="container">
    <h1>{name}</h1>
  </div>
</Layout>
