---
import CategoriesList from '@/components/CategoriesList.astro';
import Layout from '@/layouts/Layout.astro';
import { getEntry } from 'astro:content';
import { getEntries } from 'astro:content';
import { getCollection } from 'astro:content';

export const getStaticPaths = async () => {
  const posts = await getCollection('blog');

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
};

const { post } = Astro.props;
const { Content } = await post.render();
const categories = await getEntries(post.data.categories);
const author = await getEntry(post.data.author);
---

<Layout>
  <article class="py-20">
    <div class="container max-w-3xl">
      <header>
        <p>Published</p>
        <h1 class="mb-2 text-2xl font-bold">{post.data.title}</h1>
        <CategoriesList categories={categories} />
        <a href="#"></a>
      </header>

      <div class="prose">
        <Content />
      </div>
    </div>
  </article>
</Layout>
