---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';

import Layout from '@/layouts/Layout.astro';
import Hero from '@/components/Hero.astro';

const posts = await getCollection('blog');
---

<Layout>
  <Hero />

  <div class="container">
    <div class="grid grid-cols-3 gap-8">
      {
        posts.map((post) => (
          <article class="bg-white">
            {post.data.image && <Image src={post.data.image} alt="" />}

            <div class="p-6">
              <div class="flex items-center gap-4">
                <a href="#" class="bg-black px-2 py-1 text-white">
                  {post.data.category}
                </a>

                <p>
                  <time datetime="">5</time> min read
                </p>
              </div>

              <h3>{post.data.title}</h3>
              <p>{post.data.description}</p>

              <a href="#">Read more</a>
            </div>
          </article>
        ))
      }
    </div>
  </div>
</Layout>
