---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import img from '../content/blog/images/a-beginners-guide-to-blockchain-for-engineers.jpg';
---

<Layout>
  <h1>Home</h1>
</Layout>
