---
import Layout from '@/layouts/Layout.astro';
import SearchField from '@/components/Search';
import Post from '@/components/Post.astro';
---

<Layout>
  <div class="container py-4">
    <h1 class="mb-2 text-3xl font-bold">Search</h1>
    <p class="mb-6 text-muted-foreground">Type any article you might be interesed in.</p>

    <SearchField client:load />
  </div>
</Layout>
