---
import type { HTMLAttributes } from 'astro/types';
import type { CollectionEntry } from 'astro:content';
import { cn } from '@/utils/mergeClasses';
import { buttonVariants } from '@/components/ui/Button';

interface Props extends HTMLAttributes<'ul'> {
  categories: CollectionEntry<'categories'>[];
}

const { categories, class: className, ...props } = Astro.props;
---

<ul class={cn('flex flex-wrap gap-2', className)} {...props}>
  {
    categories.map((category) => (
      <li>
        <a href={`/category/${category.id}`} class={cn(buttonVariants({ size: 'sm', class: 'gap-0' }))}>
          <span aria-hidden="true">#</span>
          {category.data.name}
        </a>
      </li>
    ))
  }
</ul>
