---
import { socialMedia } from '@/config';
import { Icon } from 'astro-icon/components';
import { buttonVariants } from '@/components/ui/Button';

import SiteLogo from '@/components/SiteLogo.astro';
---

<footer class="fixed bottom-0 left-0 w-full border-t bg-white bg-opacity-50 py-1 backdrop-blur-sm">
  <div class="container flex items-center justify-between">
    <SiteLogo />

    <ul class="flex items-center" aria-label="Social media">
      {
        socialMedia.map((social) => (
          <li>
            <a
              href={social.href}
              target="_blank"
              aria-label={`${social.ariaLabel} (opens in new tab)`}
              class={buttonVariants({ size: 'icon', variant: 'ghost' })}
            >
              <Icon name={social.icon} width={24} height={24} />
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</footer>
