---
import { headerNavigation } from '@/config';
import { buttonVariants } from '@/components/ui/Button';

import SiteLogo from '@/components/SiteLogo.astro';
import ThemeToggle from '@/components/ThemeToggle.astro';
import { Icon } from 'astro-icon/components';

const { pathname } = Astro.url;
---

<header class="fixed left-0 top-0 z-50 w-full border-b bg-background">
  <div class="container flex min-h-16 items-center justify-between">
    <SiteLogo />

    <div class="flex items-center gap-5">
      <nav aria-label="Primary">
        <ul class="flex gap-4 text-sm">
          {
            headerNavigation.map((navItem) => (
              <li>
                <a
                  class="font-medium transition-colors aria-current:text-primary"
                  href={navItem.href}
                  aria-current={pathname === navItem.href ? 'page' : null}
                >
                  {navItem.label}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>

      <div class="flex">
        <ThemeToggle />

        <a href="/search" class={buttonVariants({ size: 'icon', variant: 'ghost' })} aria-label="Search">
          <Icon name="search" width={20} height={20} />
        </a>
      </div>
    </div>
  </div>
</header>
