---
import { headerNavigation } from '@/config';

import SiteLogo from '@/components/SiteLogo.astro';

const { pathname } = Astro.url;
---

<header class="fixed left-0 top-0 w-full border-b bg-white">
  <div class="container flex min-h-16 items-center justify-between">
    <SiteLogo />

    <nav aria-label="Primary">
      <ul class="flex items-center gap-4 text-sm">
        {
          headerNavigation.map((navItem) => (
            <li>
              <a
                class="font-medium transition-colors aria-current:text-primary"
                href={navItem.href}
                aria-current={pathname === navItem.href ? 'page' : null}
              >
                {navItem.label}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>
