---
import { Icon } from 'astro-icon/components';
---

<section class="hero bg-gradient-grid bg-[length:5rem_5rem] py-20 text-center">
  <div class="container">
    <p class="inline-flex gap-1 font-medium">Blog <Icon name="stars" /></p>
    <h1 class="mb-4 text-5xl font-bold">Welcome, world</h1>
    <p class="text-foreground/60">Read. Deepen your understanding.</p>
  </div>
</section>
