---
import { cn } from '@/utils/mergeClasses';

interface Props {
  date: Date;
  class?: string;
}

const { date, class: className = '' } = Astro.props;
---

<p class={cn('text-sm text-muted-foreground', className)}>
  <span class="sr-only">Publish date</span>

  <time datetime={date.toISOString().slice(0, 10)}>
    {
      new Intl.DateTimeFormat('en-US', {
        dateStyle: 'full',
      }).format(date)
    }
  </time>
</p>
