---
import { Icon } from 'astro-icon/components';
---

<a href="/" class="inline-flex items-center gap-2 text-2xl font-bold text-primary">
  <Icon name="logo" />
  AstroBlog <span class="sr-only">home</span>
</a>
