---
import { Button } from '@/components/ui/Button';
import { Icon } from 'astro-icon/components';
---

<Button variant="ghost" size="icon" className="toggle-theme" aria-label="Toggle theme">
  <Icon name="moon" class="rotate-0 scale-100 transition-all dark:-rotate-90 dark:scale-0" width={20} height={20} />
  <Icon
    name="sun"
    class="absolute rotate-90 scale-0 transition-all dark:rotate-0 dark:scale-100"
    width={20}
    height={20}
  />
</Button>
