---
import Layout from '@/layouts/Layout.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
---

<Layout>
  <div class="container grid grid-cols-[1fr_2fr_1fr] gap-12 py-4">
    <aside class="space-y-10">
      <section class="rounded border p-4">
        <h1 class="mb-2 font-bold">Blog</h1>
        <p class="text-slate-600">Posts, articles, and tutorials about web development.</p>
      </section>
    </aside>

    <div>
      <slot />
    </div>

    <aside></aside>
  </div>
</Layout>
